* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-clr: #4C956C;
    --font-clr: #FEFEE3;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 5fr .25fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* ---------- HEADER - TOP NAVIGATION ----------*/

header {
    grid-area: header;
    
    background-color: var(--primary-clr);
    color: var(--font-clr);
    font-size: 2rem;
    font-weight: bolder;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    background-color: aqua;
    grid-area: main;
}

footer {
    background-color: bisque;
    grid-area: footer;
}