* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-clr: #FBA92C;
}

body {
    height: 100vh;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: .5fr 5fr .25fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

/* ---------- HEADER - TOP NAVIGATION ----------*/

header {
    grid-area: header;
    background-color: var(--primary-clr);
    color: black;
    font-size: 2.5rem;
    font-weight: bolder;

    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(161, 161, 161, 0.6);

}

.logo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.logo span {
    font-size: 3.5rem;
}

.log-in {
    background-color: var(--primary-clr);
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    border: 3px solid black;
    width: 4%;
    height: 35px;
    border-radius: 10px;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}